/* 
  * Add the styles that belong to the DESKTOP view only
  * Add the media rule and the styles that are common within the TABLET and MOBILE views
  * Add the media rule and the styles that belong to the MOBILE view only
*/

.subtext {
  color: #434343;
}

.active {
  color: #737373 !important;
}

@media (min-width: 1024px) {
  .top-navigation .trigram {
    display: none;
  }

  .top-navigation a:hover {
    color: #434343;
  }

  .teammate-social-icons .facebook:hover,
  .teammate-social-icons .twitter:hover,
  .teammate-social-icons .linkedin:hover {
    background-color: #434343;
  }

  .social-icons .facebook:hover .icon,
  .social-icons .twitter:hover .icon,
  .social-icons .instagram:hover .icon,
  .social-icons .linked-in:hover .icon {
    background-color: white;
  }

  .social-icons .facebook:hover span,
  .social-icons .twitter:hover span,
  .social-icons .instagram:hover span,
  .social-icons .linked-in:hover span {
    color: white;
  }

  .address p:hover {
    color: white;
    text-decoration: underline;
  }

  .email a:hover {
    color: white;
    text-decoration: underline;
  }

  .phones a:hover {
    color: white;
    text-decoration: underline;
  }
}

/* 👇👇👇 Add the media rule and the styles that are common within the TABLET and MOBILE views beneath 👇👇👇 */

@media (min-width: 768px) and (max-width: 1023px) {
  .header-content {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Pushes logo to left & nav to right */
    width: 100%; /* Ensures full width */
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .top-navigation {
    flex-grow: 1; /* Makes it take up remaining space */
    display: flex;
    justify-content: flex-end; /* Pushes trigram to the right */
  }

  .top-navigation ul {
    display: none;
  }

  .portfolio-list {
    display: flex;
    flex-direction: column;
  }

  .portfolio-item {
    flex-direction: row;
  }

  .surrounded-header:before,
  .surrounded-header:after {
    z-index: -1;
  }

  .teammates-list:before {
    display: none;
  }

  .teammates-list:after {
    display: none;
  }

  .teammates-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
  }

  .teammate-img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ensures that the image won't overflow its container */
  }

  .teammate {
    width: calc(50% - 15px); /* 50% width minus half of the gap (15px) */
    height: 324px;
  }

  .teammate-data {
    align-items: center;
    text-align: center;
  }

  .teammate-social-icons .facebook,
  .teammate-social-icons .twitter,
  .teammate-social-icons .linkedin {
    background-color: #434343;
  }

  .social-icons span {
    display: none;
  }

  footer .social-icons div {
    width: 30px;
  }

  .social-icons .facebook .icon,
  .social-icons .twitter .icon,
  .social-icons .instagram .icon,
  .social-icons .linked-in .icon {
    background-color: white; /* Set the background color to white */
  }

  .email a,
  .phones a {
    color: white !important;
  }
}

/* 👇👇👇 Add the media rule and the styles that belong to the MOBILE view only beneath 👇👇👇 */
@media (min-width: 360px) and (max-width: 767px) {
  .header-content {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .top-navigation {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  .top-navigation ul {
    display: none;
  }

  .content {
    padding-left: 16px;
    padding-right: 16px;
  }

  .content h1,
  .content h2,
  .content p.subtext {
    text-align: center;
    padding: 0;
  }

  .surrounded-header:before,
  .surrounded-header:after {
    z-index: -1;
  }

  .section-info p.subtext {
    max-width: 100%;
    padding: 0;
  }

  .portfolio-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .teammates-list:before {
    display: none;
  }

  .teammates-list:after {
    display: none;
  }

  .teammates-list {
    display: flex;
    margin-bottom: -30px;
  }

  .teammates-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .teammate-img-wrapper img {
    height: 100%;
    padding: 16px;
  }

  .teammate {
    border: black solid 1px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .teammate-data {
    justify-content: center;
    flex: 1;
  }

  .teammate-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }

  .teammate-social-icons {
    padding-top: 16px;
    gap: 16px;
  }

  .teammate-social-icons .facebook,
  .teammate-social-icons .twitter,
  .teammate-social-icons .linkedin {
    background-color: #434343;
  }

  .social-icons {
    display: flex;
    flex-direction: column;
  }

  .social-icons .facebook .icon,
  .social-icons .twitter .icon,
  .social-icons .instagram .icon,
  .social-icons .linked-in .icon {
    background-color: white; /* Set the background color to white */
  }

  .social-icons .facebook,
  .social-icons .twitter,
  .social-icons .instagram,
  .social-icons .linked-in {
    color: white;
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .email a,
  .phones a {
    color: white !important;
  }
}
